<!-- <div class="container">
  <p>works</p>
</div> -->
<div class="container">
  <div *ngIf="upload">
    <div class="progress">
      <div class="progress-bar progress-bar-animated" 
      [ngStyle]="{ 'width': upload?.progress + '%' }"></div>
    </div>
    Progress: {{upload?.progress}}% Complete
  </div>
  <h2 class="heading">Upload New Images</h2>
  <hr>
  <input type="file" id="files" style="display: none"
  (change)="handleFiles($event)" multiple>
  <label for="files">Choose from Library</label>
  <button class="btn btn-primary" 
  (click)="uploadFiles()">Upload Images</button>
</div>