.container {
    color: #111;
    background-color: #fbfbfb;
    box-shadow: 0 4px 8px 0;
    width: 60%;
    padding: 5%;
    border-radius: 3px;
    margin-top: 8%;
    
}

label {
    font-family: 'Lato', sans-serif;
    cursor: pointer;
    font-weight: 150;
    border: 1px solid;
    padding: 3px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border-radius: 3px;
    
}

.heading {
    font-size: 24px;
    text-align: center;
}

button {
    height: 60px;
    margin-top: 20px;
    width: 100%;
}

input {
    height: 30px;    
}

hr {
    background-color: #428bca;
    width: 220px;
    height: 2px;
    margin-bottom: 30px;
}

